:root {
    --white:  #fff;
    --primary:  #61ECBC;
    --black:  #182339;
}

html {
    font-size: 62.5%;
}

body {
    background-image: url('/bitcoin.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
    font-size: 2rem;
    margin: 0;
}

.contenedor-main {
    display: flex;
    flex-direction: column;
}

.header {
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.418);
    border-radius: 1rem;
    height: 4rem;
    margin-bottom: 15rem;
}

.header p {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 200;
}

.header span {
    font-weight: bold;
    color: var(--primary);
}

.header-derecha {
    display: flex;
    gap: 2rem;
}

.container {
    display: flex;
    justify-content: center;
    height: calc(100% - 8rem);
    gap: 10rem;
    width: 90%;
    margin: 0 auto;
    max-width: 95rem;
    margin-top: 15rem;
    margin-bottom: 29rem;
}

.texto-info {
    color: white;
}

.app-title {
    margin: 0;
    margin-top: 1rem;
    font-size: 3.8rem;
    color: var(--white);
    line-height: .8;
}

.app-title span {
    display: block;
    color: var(--primary);
    font-size: 4.4rem;
}

.content {
    padding: 4rem 2rem;
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formulario-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.currency-contendor select {
    margin-top: 1rem;
    width: 100%;
    border-radius: .5rem;
    padding: 1em;
    cursor: pointer;
}

.boton {
    background-color: #4cb892;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.7rem;
    color: white;
    transition: all .3s ease;
}

.boton:hover {
    background-color: #39866b;
}

.css-13cymwt-control, .css-1nmdiq5-menu, .css-t3ipsp-control {
    padding: 5px 0;
    cursor: pointer !important;
}

.currency-contendor {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.Toastify__toast-body {
    font-size: 15px;
}

.result-contenedor h2 {
    text-align: center;
}

.result {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.result img {
    width: 15rem;
    height: 15rem;
}

.result p {
    font-size: 18px;
}

.result span {
    font-weight: bold;
}

footer {
    background-color: black;
    padding: 2rem;
    margin-top: 4rem;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
}

footer p {
    margin: 0;
}

@media  (max-width: 1024px) { 
    .header {
        margin-bottom: 5rem;
    }

    .container {
        flex-direction: column;
        max-width: 80%;
    }

    .content {
        width: 90%;
    }

    .texto-info {
        order: 2;
    }


    .result {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .result img {
        width: 10rem;
        height: 10rem;
    }

    .result p {
        font-size: 18px;
    }

    .container {
        margin-bottom: 5rem;
    }

}

@media  (max-width: 768px) { 
    .result p {
        font-size: 14px;
    }
}

.spinner {
    padding: 20px 0;
    width: 70px;
    text-align: center;
    margin: 0 auto;
  }
  
  .spinner > div {
    width: 18px;
    height: 18px;
    background-color: #4cbb94;
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }

